## Escrevam nos blocos abaixo os códigos dos slides :)

In [14]:
df = pd.read_csv('dados/datajournalism-geoMap.csv')

In [15]:
df

                                             Categoria: Todas as categorias
País                             data journalism: (12/04/2014 – 12/04/2019)
Nigéria                                                                 100
África do Sul                                                            52
Itália                                                                   43
Austrália                                                                43
Reino Unido                                                              39
Estados Unidos                                                           30
Canadá                                                                   29
Alemanha                                                                 17
Índia                                                                    16
Butão                                                                   NaN
Gibraltar                                                               NaN
Timor-Leste                                                             NaN
Guiana                                                                  NaN
Libéria                                                                 NaN
Mongólia                                                                NaN
Gana                                                                    NaN
Serra Leoa                                                              NaN
Afeganistão                                                             NaN
Ruanda                                                                  NaN
Cuba                                                                    NaN
China                                                                   NaN
Malaui                                                                  NaN
Camarões                                                                NaN
Mianmar (Birmânia)                                                      NaN
Uganda                                                                  NaN
Tanzânia                                                                NaN
Quênia                                                                  NaN
Etiópia                                                                 NaN
Zimbábue                                                                NaN
...                                                                     ...
Svalbard e Jan Mayen                                                    NaN
Ilhas Salomão                                                           NaN
San Marino                                                              NaN
Somália                                                                 NaN
São Pedro e Miquelão                                                    NaN
Sudão do Sul                                                            NaN
São Tomé e Príncipe                                                     NaN
Suriname                                                                NaN
Suazilândia                                                             NaN
Sint Maarten                                                            NaN
Seicheles                                                               NaN
Síria                                                                   NaN
Ilhas Turcas e Caicos                                                   NaN
Chade                                                                   NaN
Togo                                                                    NaN
Tadjiquistão                                                            NaN
Tokelau                                                                 NaN
Turcomenistão                                                           NaN
Tonga                                                                   NaN
Tuvalu                                                                  NaN
Ilhas Menores Distantes dos EUA                                         NaN
Cidade do Vaticano                                                      NaN
São Vicente e Granadinas                                                NaN
Ilhas Virgens Britânicas                                                NaN
Ilhas Virgens Americanas                                                NaN
Vanuatu                                                                 NaN
Wallis e Futuna                                                         NaN
Samoa                                                                   NaN
Kosovo                                                                  NaN
Iêmen                                                                   NaN

[251 rows x 1 columns]

In [3]:
from random import randint

In [ ]:
print ('Bem vindo!')
sorteado = randint(1, 100)
chute = 0
while chute != sorteado:
    chute = int(input ('Tentativa: '))
    if chute == sorteado:
        print ('Ganhou!')
    else:
        if chute > sorteado:
            print ('Alto')
        else:
            print ('Baixo')
print ('Fim do jogo!')